<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand mt-2 mb-2">
    APP Employees
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 mt-4">
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-tittle">
            <h5>Insert a new Employee</h5>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedEmployee.name" placeholder="Name" class="form-control mt-2">
              <input type="text" [(ngModel)]="selectedEmployee.lastName" placeholder="Last Name" class="form-control mt-2">
              <input type="tel" [(ngModel)]="selectedEmployee.phone" placeholder="Phone" class="form-control mt-2">
              <input type="text" [(ngModel)]="selectedEmployee.address" placeholder="Address" class="form-control mt-2">
            </div>
            <button (click)="addOrEdit()" class="btn btn-info mt-2">
              Add
            </button>
            <button *ngIf="selectedEmployee.id !== 0" class="btn btn-danger mt-2" (click)="delete()">
              Delete
            </button>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <ul class="list-group">
          <li 
            *ngFor="let employee of employeeArray;" 
            class="list-group-item list-group-item-action" (click)="edit(employee)">
           <span>{{ employee.id }} -</span> {{ employee.name }}  {{employee.lastName}} / {{employee.phone}} / {{ employee.address }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>