body{
    background: #b92b27;
    background: -webkit-linear-gradient(to top, #1565C0, #b92b27);
    background: linear-gradient(to top, #1565C0, #b92b27);
    height: 100vh;
    background-repeat: no-repeat;
}